* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-color-light;
    color: $primary-color-dark;
}

header {
    max-width: 340px;
    margin: 0 auto;
    padding: 3em 0;

    p {
        // margin: 30px;
        max-width: 30ch;
        font-size: 24px;
        margin: 20px;
    }
    
    img {
        max-width: 90px;
        max-height: 90px;
        border-radius: 50%;
        margin: 20px;
    }
}

main {
    padding: 0 0 40px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .project {
        border: 2px solid $primary-color-dark;
        border-radius: 2%;
        margin: 20px 35px;
        max-width: 300px;
        // padding: 20px;

        .desktop-bar {
            border-bottom: 2px solid $primary-color-dark;
            height: 20px;
            border-radius: 2%;
            display:flex;

            .circle {
                background-color: $primary-color-dark;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                margin: 2.5px;
            }
        }

        h3, p, .right {
            margin: 30px;
        }
        h3 {
            max-width: 18ch;
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }

        .right{
            margin: 20px;
            text-align: right;

            a {
                text-decoration: none;
                color: $primary-color-dark;
                font-weight: bold;
            }
        }
    }
}

footer {
    max-width: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;

    a {
        svg {
            fill: $primary-color-dark;
        }
    }
}
