@media screen and (min-width: 600px){
    header {
        margin: 0;
    }

    header, main {
        margin: 0 auto;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        max-width: 70vw;

        p {
            font-size: 36px;
        }

        img {
            max-width: 140px;
            max-height: 140px;
        }
    }

    main {
        max-width: 70vw;
    }

    // .projects {
    //     justify-content:start;
    // }

}